<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369252391797-aenn3b1f5v2rvj8ec9ap5tor4quqfvcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369252391797-aenn3b1f5v2rvj8ec9ap5tor4quqfvcb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369252391797-mbee5ngklrhf1l40g79ejlm4b94setqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADiif-VkiHzwaWfz1RsvoWF5ZjhdGfmpo</string>
	<key>GCM_SENDER_ID</key>
	<string>369252391797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brilcom.bandi.pico</string>
	<key>PROJECT_ID</key>
	<string>pico-home</string>
	<key>STORAGE_BUCKET</key>
	<string>pico-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:369252391797:ios:46a73a8bf3425d28</string>
	<key>DATABASE_URL</key>
	<string>https://pico-home.firebaseio.com</string>
</dict>
</plist>
